
* {
  font-family: 'Roboto', sans-serif;
  // color:#fafafa;
}

a {
  color:#fafafa;
  text-decoration: underline;
  cursor: pointer;
}

label{
  color:#fafafa;
}

.body  {
  &__high-emphasis {
    font-weight: bold;
    size: 48px;
    text-align: left;
    color: #999;
  }
}
