<div class="content">
  <p class="secondary__text body my-8" [routerLink]="'/albums'"> <i class="back"></i> Voltar</p>
  <section class="current-track">
    <div class="current-track__actions">
      <a class="ion-ios-play play" [ngClass]="{'play__active': isPlaying}" (click)="play()"></a>
      <a class="ion-ios-pause pause" [ngClass]="{'pause__active': !isPlaying}" (click)="pause()"></a>
    </div>
    <div class="current-track__progress">
      <div class="current-track__progress__start">{{ currentTrack.name }}</div>
      <div class="current-track__progress__finish">{{ msToTime(currentTrack.duration_ms) }}</div>
    </div>
  </section>
  <div *ngIf="album" class="details">
    <div class="details__album">
      <img [src]=" album.images[0].url" [alt]="album.name" />
      <div class="text-center">
        <p class="body secondary__text my-2">{{album.name}}</p>
        <p class="caption primary__text">{{album.artists[0].name}}</p>
      </div>
    </div>
    <div class="details__tracks">
      <ul>
        <li *ngFor="let track of album.tracks.items" (click)="playTrack(track)">
          <span class="primary__text">
            {{track.track_number}}.
            <span class="secondary__text">{{track.name}}</span>
          </span>
          <span class="primary__text">
            {{msToTime(track.duration_ms)}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
