@import './../../../../assets/scss/typography.scss';

.albums{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 48px;

  &__items{
    display: grid;
    height: 220px;
    grid-gap: 48px;
    align-items: center;
    width: 100%;
  }
}
