@import '../../../assets/scss/typography.scss';

.album {
  width: 100%;

  &__image {
    height: 160px;
    cursor: pointer;

    &:hover {
      opacity: 50%;
    }

    display: flex;
    margin: 0 auto;

  }

}
